@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  color: #dde4e3;
  background: #161616;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
UI/Switcher
*/

.sw-btn:not(:last-child) p {
  border-right: 1px solid #525252;
}
.sw-btn.preactive p,
.sw-btn.active p {
  border: none;
}
